PORT=3000

DB_HOST=109.198.190.115
DB_PORT=32322
DB_NAME=your_database_name
DB_USER=student
DB_PASSWORD=5432

AUTH_LOGIN=student
AUTH_PASSWORD=student123

JWT_SECRET=super-secret-key
JWT_EXPIRES_IN_SECONDS=3600
